<div class="jumbotron mt-4">
  <h1 class="display-4">Dice Game API REST Nodejs And Mongodb!</h1>
  <p class="lead">developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>Game for three people. Each rolls a die and the highest number wins.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/elkingonzalezcuellar" role="button">My Github</a>
</div>